*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}


body{

background:#f4f4f4;
color:#333;

}


/* HEADER */

header{

background:white;
padding:20px 8%;

display:flex;
justify-content:space-between;
align-items:center;

box-shadow:0 2px 8px #ddd;

}


.logo{

font-size:25px;
font-weight:bold;
color:#00aa6c;

}


nav a{

text-decoration:none;
color:#333;
margin-left:25px;

}




/* BANNIERE */


.banner{

height:350px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

color:white;

text-align:center;

}


.paris{

background:
linear-gradient(#0006,#0006),
url("https://picsum.photos/1600/700?paris");

background-size:cover;

}



.rome{

background:
linear-gradient(#0006,#0006),
url("https://picsum.photos/1600/700?rome");

background-size:cover;

}



.banner h1{

font-size:50px;

}



/* CONTENU */


.content{

padding:50px 8%;

display:flex;

gap:40px;

background:white;

}


.gallery{

width:50%;

display:grid;

grid-template-columns:2fr 1fr;

gap:15px;

}



.gallery img{

width:100%;

height:180px;

object-fit:cover;

border-radius:15px;

}



.gallery img:first-child{

height:375px;

grid-row:span 2;

}



.info{

width:50%;

}



.stars{

color:#00aa6c;

font-size:25px;

margin:15px 0;

}


li{

margin:12px;

}



button{

background:#00aa6c;

color:white;

border:0;

padding:15px 30px;

border-radius:25px;

margin-top:20px;

}




/* AVIS */


.reviews{

padding:40px 8%;

}


.review{

background:white;

padding:20px;

border-radius:15px;

margin:15px 0;

}



footer{

background:#222;

color:white;

padding:30px;

text-align:center;

}




@media(max-width:800px){


.content{

flex-direction:column;

}


.gallery,
.info{

width:100%;

}


.banner h1{

font-size:35px;

}


}
